<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if error_message %}
<p><strong>{{ error_message }} {{ faulty_item }}</strong></p>
{% else %}
<form id="shopping-cart" action="cart.html" method="post">
    <table class="shopping-cart">
        <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <p id="sub-total">
        <strong>Sub Total</strong>: <span id="stotal"></span>
    </p>
    <ul id="shopping-cart-actions">
        <li>
            <input type="submit" name="update" id="update-cart" class="btn" value="Update Cart"/>
        </li>
        <li>
            <input type="submit" name="delete" id="empty-cart" class="btn" value="Empty Cart"/>
        </li>
        <li>
            <a href="{% url 'customer:restaurant_menu' city mall rest %}" class="btn">Continue Shopping</a>
        </li>
        <li>
            <a href="checkout.html" class="btn">Go To Checkout</a>
        </li>
        <li>
            <a href="{% url 'customer:mall_restaurants' city mall %}" class="btn">Choose another restaurant</a>
        </li>
    </ul>
</form>

</body>
{% endif %}
</html>