<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if restaurants %}
    <ul>
    {% for rest in restaurants %}
        <li><a href="{% url 'customer:restaurant_menu' city_name mall_name rest.name %}">{{ rest.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
<p>No restaurants in our db yet</p>
{% endif %}
</body>
</html>