<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if entry_set %}
    {% for menu_entry in entry_set %}
    <div class="product-description" data-name="{{ menu_entry.name }}" data-price="5">
        <h3 class="product-name">{{ menu_entry.name }}</h3>
            <p class="product-price">{{ menu_entry.price }} ru</p>
            <p>Calories {{ menu_entry.calories }} </p>
            <form class="add-to-cart" action="{% url 'customer:order' city mall restaurant %}" method="post">
            {% csrf_token %}
                <div>
{#                    <label for="qty-1">Quantity</label>#}
                    <input type="text" placeholder="Quantity" name="item" id="qty-1" class="qty" />
                    <input type="text" name="dish-name" value="{{ menu_entry.name }}" style="visibility: hidden"/>
                </div>
                <p><input type="submit" value="Add to cart" class="btn" /></p>
            </form>
    </div>
    {% endfor %}
{% else %}
<p>There is no completed menu for this restaurant yet.</p>
{% endif %}

</body>
</html>